@charset "utf-8";  
/*       swiper        */
#main .swiper-container {
    width: 100%;
    height: 500px;
}
.swiper-wrapper {
    width: 100%;
    height: 500px; 
}
.swipe_img1 {
    background: url(../img/slide_img1.jpg) no-repeat center/cover;
}
.swipe_img2 {
    background: url(../img/slide_img2.jpg) no-repeat center/cover;
}
.swipe_img3 {
    background: url(../img/slide_img3.jpg) no-repeat center/cover;
}
.swipe_img4 {
    background: url(../img/slide_img4.jpg) no-repeat center/cover;
} 
.swiper-slide { 
    overflow: hidden;
    display: block;
    height: 100% !important;
}
.swiper-slide>div {
    height: 100%;
}

.swiper-pagination-bullet {
    margin: 0 3px;
    width: 24px;
    height: 2px;
    display: inline-block;
    border-radius: 0;
    background: #000;
    opacity: .2;
}
.swiper-pagination-bullet-active {
    opacity: 1;
    background: #fff;
}
/*          swiper layers            */
.layer {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    position: relative;
    width: 50%;
    height: 100%; 
    background: rgba(252, 252, 252, 0.8);
    animation-duration: 3s;
    animation-name: slideUp;
}
@keyframes slideUp {
    from {
        height: 0;
    }
    to {
        height: 100%;
    }
} 
.layer > div {
    width: 50%;
    position: relative;
    left: 50%;
    margin-left: -25%;
    display: inline-flex;
    flex-direction: column;
}
.layer > div > span {
    font-size: 24px;
    line-height: 32px;
    color: #333;
    z-index: 1;
}
.layer > div > p {
    font-size: 30px;
    line-height: 38px; 
    font-weight: 600;
} 
.layer .button { 
    cursor: pointer;

    margin-top: 10px;
    border: 1px solid #333;
    font-weight: 600;
    border-radius: 4px;
    font-size: 20px;
    line-height: 38px; 
    width: 160px;
    display: flex;
    justify-content: center;
    transition: .2s;
    z-index:1;
} 
.layer .button:hover {
    border: 1px solid #0257a3;
    background: #0257a3;
    color: #eee;
}
.layer .button:hover svg {
    stroke: #eee;
}
.button svg {
    width: 16px;
    height: 16px;
    display: inline-block;
    margin: 10px 0;
} 
.swipe_img2 .layer {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    position: relative;
    width: 50%;
    height: 100%;
    transform: translateX(100%);
    background: rgba(0, 0, 0, .6);
    animation-duration: 3s;
    animation-name: slideLeft;
}
.swipe_img2 .layer > div > span {
    color: #eee;
}
.swipe_img2 .layer .button {
    color: #eee;
    border: 1px solid #eee;
}
.swipe_img2 .button svg {
    stroke: #eee;
}
.swipe_img3 .layer {
    background: none;
    right: 0;
    position: absolute;
}
.swipe_img3 .layer > div::before {
    content: "";
    position: absolute;
    display: inline-flex;
    left: -170%;
    top: -90px;
    transform: rotateZ(125deg);
    width: 370%;
    height: 500%;
    background: rgba(255, 219, 42, 0.5);
}



@keyframes slideLeft {
    from {
        transform: translateX(150%);
    }
    to {
        transform: translateX(100%);
    }
} 







/*       section-wrap + section1           */

#text-wrap > div {
    background: #ccc1b554; 
    width: 100%; 
    display: flex;
}
.main-sec1 {
    width: 100%; 
    background: #fff;
}
.main-sec1 h2 { 
    font-size: 34px;
    line-height: 42px;
    font-weight: 900;
    text-align: center; 
    margin: 20px 0;
}  
.main-sec1 .product-wrap{
    width: 100%;
    max-width: 1080px; 
    margin: 0 auto;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
} 
.main-sec1 .product { 
    display: inline-flex;
    padding: 0.5rem; 
    width: 100%;
    flex: 0 0 25%;
    max-width: 25%;
    height: 320px; 
} 
.main-sec1 .product a{
    width: 100%;
    height: 100%;
}
.main-sec1 .product a > div:last-child {
    display: flex;
    flex-flow: column;
}
.main-sec1 .product span:first-child {
    font-weight: 900;
    font-size: 20px;
    line-height: 28px;
}
.main-sec1 .product span {
    color: #333;   
    text-align: center;
    font-size: 14px;
    line-height: 22px;
    display: inline-flex;
    justify-content: center;
}
.main-sec1 .product span:last-child {
    font-weight: 900;
}
.main-sec1 .product .prod_img { 
    width: 100%;
    height: 100%;
    max-height: 210px;
}
.main-sec1 .product .produtc-img1{
    background: url(../product/coutch.jpg) no-repeat center/contain;
}
.main-sec1 .product .produtc-img2{
    background: url(../product/stool.jpg) no-repeat center/contain;
}
.main-sec1 .product .produtc-img3{
    background: url(../product/pillow.jpg) no-repeat center/contain;
}
.main-sec1 .product .produtc-img4{
    background: url(../product/box.jpg) no-repeat center/contain;
}
.main-sec2 h3 {
    margin-bottom: 20px;
    font-size: 40px;
    line-height: 48px;
}
.main-sec2 .text-wrap { 
    color: #444;
    font-size: 34px;
    line-height: 42px;
    font-weight: 900; 
    margin-left: 4%;
    margin-top: 40px;
    width: 50%;
    height: auto;
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
}  
.main-sec2 .main-sec-wrap {
    display: flex;
} 
/*      today's       */
#text-wrap .img-wrap > div {
    background: url(../img/today_place.jpg) no-repeat center/cover;
    width: 100%;
    height: 600px;
}
#text-wrap .img-wrap {
    width: 50%;
    display: inline-flex;
}
.check {
    margin-top: 20px;
    font-size: 30px;
    line-height: 38px;
    font-weight: 500;
}
.check svg {
    width: 25px;
}
.check span{
    padding: 5px 0px;
    display: block;
}
.check .button {
    position: relative;
    flex-direction: column;
    padding: 30px 0;
    cursor: pointer; 
    font-weight: 600; 
    font-size: 30px;
    line-height: 38px; 
    display: inline-block; 
    justify-content: center; 
    transition: .2s; 
}
.check .button::after {
    display:block;
    content: '';
    border-bottom: solid 3px #0058a3;  
    transform: scaleX(0);
    transition:  transform 250ms ease-in-out;
}
.check .button:hover {
    color: #0058a3;
}
.check .button:hover::after {
    display: block;
    transform-origin: 0% 50%;
    transform: scaleX(1); 
}




/*   main-sec3   */
.main-sec3 h2 {
    margin: 20px 0;
    margin-top: 40px;
    font-weight: 700;
    color: #444;
    font-size: 40px;
    line-height: 48px;
}
.main-sec3 .main-sec-wrap {
    max-width: 1080px;
    width: 100%;
    margin: 0 auto;
}
.main-sec3 .main-sec-wrap .services {
    display: flex;
    padding: 20px 0;
    border-bottom: 1px solid #eee;
}
.main-sec3 .main-sec-wrap .services >div {

    display: flex;
    flex-flow: column;
    justify-content: center;
}
.main-sec3 .main-sec-wrap span {
    display: block;
    color: #888;
    padding-bottom: 5px;
} 
.main-sec3 .main-sec-wrap span:first-child {
    font-size: 28px;
    line-height: 36px;
    padding-bottom: 10px;
    font-weight: 600;
    color: #444;
}
.main-sec3 .main-sec-wrap span a {
    font-size: 20px;
    line-height: 28px;
    color: #444;
} 
.main-sec3 .main-sec-wrap span a:hover {
    color: #000; 
}
.main-sec3 .main-sec-wrap .services .support_img {
     background: url(../img/support_img1.jpg) no-repeat center/cover;
     width: 300px;
     height: 300px; 
     margin-right: 40px;
}
.main-sec3 .main-sec-wrap .support_btn {
    text-align: center;
    margin-top: 25px;
}

.main-sec3 .main-sec-wrap .support_btn a {
    color: #0058a3;
    border: 1px solid #0058a3;
    padding: 10px 20px;
    font-size: 20px; 
    border-radius: 5px;
    margin: 0 auto;
    display: inline-block;
}
.main-sec3 .main-sec-wrap .support_btn a:hover {
    color: #fff;
    background: #0058a3;

}
.main-sec3 .main-sec-wrap .services:nth-of-type(2) .support_img{
    background-image: url(../img/support_img2.jpg);
}
.main-sec3 .main-sec-wrap .services:nth-of-type(3) .support_img{
    background-image: url(../img/support_img3.jpg);
}
.main-sec3 .main-sec-wrap .services:nth-of-type(4) .support_img{
    background-image: url(../img/support_img4.jpg);
}
.main-sec3 .main-sec-wrap .services:nth-of-type(5) .support_img{
    background-image: url(../img/support_img5.jpg);
}

.main-sec3 .main-sec-wrap .services:nth-of-type(6) .support_img{
    background: #2199aa;
    display: flex;
    justify-content: space-around;
    flex-flow: column;
}
.main-sec3 .main-sec-wrap .services:nth-of-type(6) .support_img span {
    width: 80%;
    padding: 35px 45px;
    text-align: center;
    background: #f17f07;
    font-size: 30px;
    font-weight: 900;
    line-height: 38px;
    color: white;
    font-size: 30px;
    font-weight: 900;
    line-height: 0px;
}



@media (max-width:1100px){
    .swipe_img3 .layer > div::before {
        left: -140%;
        top: -190px;
        width: 440%;
        height: 550%;
    }
    .main-sec2 h3 {
        font-size: 30px;
        line-height: 38px;
    }
    .main-sec2 .text-wrap {
        font-size: 24px;
        line-height: 32px;
    }
    .check {
        font-size: 20px;
        line-height: 28px;
    }
    .check .button {
        font-size: 20px;
        line-height: 28px;
    } 
    .check svg {
        width: 16px;
    }
    .main-sec3 h2 {
        font-size: 30px;
        line-height: 38px;
    }
    .main-sec3 .main-sec-wrap {
        padding: 0 20px;
    }

    .main-sec3 .main-sec-wrap .services .support_img {
        width: 40%;
    }
    .main-sec3 .main-sec-wrap span:first-child {
        font-size: 20px;
        line-height: 28px;
    }
    .main-sec3 .main-sec-wrap span a {
        font-size: 16px;
        line-height: 24px;
    }
    #text-wrap .img-wrap > div {
        height: 500px;
    }
}

@media (max-width:900px){
    .main-sec1 .product {

        flex: 0 0 33.3333333333%;
        max-width: 33.3333333333%;
    }
    .main-sec3 .main-sec-wrap .services >div {
        width: 60%;
    }
    .main-sec3 .main-sec-wrap span {
        padding-bottom: 10px;
    }
}
@media (max-width:768px){ 
    .swipe_img3 .layer > div::before {
        width: 540%;
        left: -150%;
        top: -120px;
    }
    .main-sec1 .product {
        flex: 0 0 50%;
        max-width: 50%;
    }
    #text-wrap .img-wrap > div {
        height: auto;
    }
    .layer > div > span {
        font-size: 18px;
        line-height: 26px;
    }
    .layer > div > p {
        font-size: 20px;
        line-height: 28px;
    }
    .layer .button {
        font-size: 18px; 
        width: 140px;
    }
 } 
 @media (max-width:500px){
    .swiper-button {
        display: none;
    }
    .swipe_img3 .layer > div::before { 
        left: -110%;
        top: -180px;
        transform: rotateZ(205deg);
    }
    #text-wrap > div {
        padding: 40px 20px;
        display: block;
    }
    .main-sec2 .text-wrap {
        display: block;
        margin: 0;
        width:100%;
    }
    #text-wrap .img-wrap{
        display: block;
        width:100%;
    }
    #text-wrap .img-wrap > div {
        height: 400px;
    }
    .main-sec3 .main-sec-wrap .services {
        display: block;
    }
    .main-sec3 .main-sec-wrap .services .support_img {
        width: 100%;
    }
    .main-sec3 .main-sec-wrap .services >div {
        width: 100%;
        display: block;
    }
    .main-sec3 .main-sec-wrap span:first-child {
        padding-top: 20px;
    }
 }
 @media (max-width:400px){
     .main-sec1 .product-wrap {
         margin-bottom: 40px;
     }
     .layer .button {
        font-size: 14px;
        width: 110px;
    }
 }