@charset "utf-8";
.support {
    margin: 100px 0;
}
h1 {
    font-weight: 900;
    padding-bottom: 20px;
    font-size: 34px;
    line-height: 42px;
    text-align: center;
} 
.file_upload {
    display: flex;
}
#file-selector {
    display: inline-flex;
}
.file_upload button {
    display: inline-flex;
}